.complexity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "JetBrainsMonoExtraBold";
  font-size: 1rem;
  color: var(--bg-color);
  border-radius: 8px;
  width: var(--complexity-width);
}