.dataStructure {
  margin-top: 3.5rem;

  --arrow-padding-left: 60px;
  --arrow-padding-right: 10px;
  --arrow-width: 24px;
  --complexity-width: 130px;
}

h2 {
  font-family: "InterExtraBold";
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.ds-item {
  width: 100%;
  display: flex;
}

.ds-items__head {
  width: 100%;
  display: flex;
  gap: 16px;
}

.ds-items__head-first {
  flex: 3;
}

.ds-items__head-last {
  flex-shrink: 0;
  width: var(--arrow-width);
  padding-left: calc(var(--arrow-padding-left) + 10px);
  padding-right: var(--arrow-padding-right);
}

.ds-items__head-tc, .ds-items__head-sc {
  font-family: "InterRegular";
  font-size: 2rem;
  text-align: center;
  width: var(--complexity-width);
}
